# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.class
*.jar
*.war

# Ignore IDE specific files
.idea/
.vscode/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.bak